header {
  font-size: 10em;
  font-family: "Comforter", cursive;
  text-align: center;
}

body {
  background-color: #E0E0E2;
}

.bg-dark {
  background-color: #416788 !important;
}

.blog {
  font-size: 7em;
  font-family: "Dancing Script", cursive;
  text-align: center;
}

.post {
  text-align: center;
  padding: 30px;
  background-color: #7389AE;
  margin: 0 10px;
}

.post h1 {
  font-size: 3em;
  font-family: 'Architects Daughter', cursive;
}

.words {
  font-size: 1em;
  padding: 10px 15px;
  background-color: #B5BAD0;
  margin: 10px;
}

.words .left img {
  float: left;
  margin: 5px;
  width: 100%;
}

.words .right img {
  float: right;
  margin: 5px;
  width:100%;
}

.recent-posts {
  text-align: center;
  padding: 20px;
}

.recent-posts h1 {
  font-family: 'Dancing Script', cursive;
  font-size: 2.5em;
}

.link {
  background-color: #B5BAD0;
  width: 100%;
  font-family: 'Architects Daughter', cursive;
}

.link a {
  color: black;
  text-decoration: none;
  font-size: 2em;
}

.link img {
  width: 70%;
  margin: 5px;
}

.links {
  display: block;
  align-items: center;
}

.gallery {
  font-family: 'Dancing Script', cursive;
  text-align: center;
}

.gallery h1 {
  padding: 10px;
  font-size: 5em;
}

.masonry {
  column-gap: 5px;
  column-fill: initial;
  column-count: 1;
  margin: 20px;
}

.container {
  margin-top: 20px;
  margin-bottom: 10px;
  display: inline-block;
  vertical-align: top;
  transition: all .4s ease-in-out;
}

.container img {
  backface-visibility: hidden; /* Remove Image flickering on hover */
  width:100%;
}

.sleep-pics {
  display: block;
}

.sleep-pics img {
  width: 100%;
  padding: 10px;
}

.open-image img {
  width: 100%;
}

.open-image {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  text-align: center;
  color: white;
}

.centered-words {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  border: 5px;
}

.centered-words h1 {
  font-size: 4em;
  font-weight: bold;
  color: #FFFF;
  font-family: 'Dancing Script', cursive;
}

.opening {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 20px;
  border: 10px;
}

.cimage {
  width: 7%;
}

footer {
  box-sizing: border-box;
  text-align: center;
  width: 100%;
  margin-top: 20px;
  padding: 50px;
  background-color: #416788;
  color: white;
  font-size: 1em;
  position: absolute;
}

@media only screen and (min-width: 1024px) {
  .blog {
    font-size: 9em;
    font-family: "Dancing Script", cursive;
    text-align: center;
  }
  .post {
    text-align: center;
    padding: 30px;
    background-color: #7389AE;
    margin: 0 70px;
  }
  .post h1 {
    font-size: 3.5em;
    font-family: 'Architects Daughter', cursive;
  }
  .words {
    font-size: 1em;
    padding: 10px 90px;
    background-color: #B5BAD0;
    margin: 20px;
  }
  .recent-posts h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 4em;
  }
  .links {
    display: flex;
    justify-content: space-around;
  }
  .link {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #B5BAD0;
    width: 33%;
    font-family: 'Architects Daughter', cursive;
  }
  .link img {
    width: 70%;
    margin: 5px;
  }
  .link a {
    color: black;
    text-decoration: none;
    font-size: 2em;
  }
  .masonry {
    column-count: 4;
  }
  .words .left img {
    float: left;
    margin: 5px;
    width: 40%;
  }
  .words .right img {
    float: right;
    margin: 5px;
    width: 40%;
  }
  .sleep-pics {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .sleep-pics img {
    padding: 10px;
    width: 35%;
  }
  .centered-words{
    font-size: 3em;
  }
  .opening {
    display: flex;
    flex-direction: row;
  }
}

@media only screen and (max-width: 1023px) and (min-width: 688px) {
  .links {
    display: flex;
    justify-content: space-around;
  }
  .link {
    background-color: #B5BAD0;
    width: 30%;
    font-family: 'Architects Daughter', cursive;
  }
  .link img {
    width: 70%;
    margin: 5px;
  }
  .link a {
    color: black;
    text-decoration: none;
    font-size: 2em;
  }
  .masonry {
    column-count: 3;
  }
  .words .left img {
    float: left;
    margin: 5px;
    width: 60%;
  }

  .words .right img {
    float: right;
    margin: 5px;
    width: 60%;
  }

  .sleep-pics {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .sleep-pics img {
    padding: 10px;
    width: 35%;
  }
  .centered-words{
    font-size: 2em;
  }
  .opening {
    display: flex;
    flex-direction: row;
  }
}
